<div class="index_container">
  <h1>Sign In</h1>
  <% if @message %>
    <p><%= @message %></p>
  <% end %>
  <% if @error %>
    <p><%= @error %></p>
  <% end %>

  <form action="/new_session" method="post">
    <div class="input-box">
      <input type="text" name="email" placeholder="email">
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="password">
    <input type="submit" value="let's go">
    </div>
  </form>
</div>