<div class="index_container">
  <h1 class="login-header">Sign In</h1>
  <% if @message %>
    <p class="notice"><%= @message %></p>
  <% end %>
  <% if @error %>
    <p class="notice"><%= @error %></p>
  <% end %>

  <form action="/new_session" method="post">
    <div class="input-box">
      <input type="text" name="email" placeholder="penelope@largemouth.ly.io.me">
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="enter your boom">
      <input type="submit" value="let's go">
    </div>
  </form>
</div>