<div class="index_container">
  <h2 class="header"><i class="fa fa-bolt"></i></h2>
  <div class="menu-header"><p>Game over :)</p></div>
  <h2>Score: <%= @game.score %> out of <%= @deck.cards.size %></h2>
</div>

