
<%= @card.question %>
<%= @counter %>

<form action= "/cards/<%=@card.id%>/compare" method= 'get'>

<input type="text" name= "submitted_answer" />

<input type="submit" vaule="Submit">
</form>
=======
<%= @card1.question %>

