<h2 class="header"><i class="fa fa-bolt"></i></h2>
<div class="notice"><p>"<%= @deck.title %>"</p></div>


  <form action="/games/create", method="post">
    <input type="hidden" name="deck_id" value="<%= @deck.id  %>">
    <input type="submit" value="Let's play">
  </form>
<div class="index_container">
  <div class="deck-container">
    <% @cards.each do |card| %>
      <div class="deck">
        <div class="red-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="blue-line"></div>
        <div class="deck-description">
          <br>
          <p class="deck-body"><%= card.question %></p>
        </div>
      </div><!-- Each card deck-container -->
    <% end %>
  </div><!-- Deck container -->
</div><!-- Index container -->
