<div class="index_container">
  <% if @message %>
    <p class="notice"><%= @message %></p>
  <% end %>
  <div class="logo"><i class="fa fa-bolt"></i></div>
  <h1>Flash</h1>

  <div class="play_btn">
    <a href="/games/new">play</a>
  </div>
</div>

